/**
 *	Backend.css for module NewsReader
 *	
 *
 */
 
.mod_newsreader_edit_css {
	display: block;
	float: right;
	margin-right:50px;
}

div.newsreader_interface {
	margin: 10px 20px;
}

table.newsreader_interface tr td{
	min-width: 150px !important;
	height:29px;
    vertical-align: baseline;
}

.module_edit_css {
    float: right !important;
}

.newsreader_info {
    margin-left: 23px;
}

select[name="coding_from"],
select[name="coding_to"] {
    margin-right: 12px;
    width: 160px;
}