
.nr_description {
	font-weight: bold;
}

.nr_content {
}

.nr_content ul {
    width: 50%;
}

.nr_content li {
	margin-bottom: 1em;
	list-style: circle;
}

.nr_itemdesc {
}

.discreet {
	font-size:90%;
}

/* new */
ul.newsreader li{
	list-style: none;
}

ul.newsreader li div.pubdate {
	margin-left: 0px;
	margin-bottom: 0px;
	color: #AAAAAA;
	font-weight: normal;
}

ul.newsreader li div {
	margin-left: 10px;
	line-height: 1.6em;
	margin-bottom: 12px;
	text-align: justify;
}